@model Jahacki_klub_Zeljeznicar.ViewModels.TrailDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji traila</h1>

<div>
    <h4>Trail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Naziv
        </dt>
        <dd class="col-sm-10">
            @Model.Trail.Naziv
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Model.Trail.Opis
        </dd>
        <dt class="col-sm-2">
            Datum
        </dt>
        <dd class="col-sm-10">
            @Model.Trail.Datum.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            Maksimalan broj konja
        </dt>
        <dd class="col-sm-10">
            @Model.MaxHorses
        </dd>
    </dl>
</div>

<div>
    @if (Model.Trail.RezervatorId == null)
    {
        <form asp-action="Rezervisi" asp-controller="Trail" method="post">
            <input type="hidden" name="trailId" value="@Model.Trail.Id" />
            <button type="submit" class="btn btn-primary">Rezerviši</button>
        </form>
    }
    else if (Model.Trail.RezervatorId == Model.LoggedInUserId)
    {
        <div class="alert alert-info mt-2">
            Vi ste rezervisali ovaj trail. Za otkazivanje, kontaktirajte vlasnike direktno.
        </div>
    }

    <a asp-action="Edit" asp-route-id="@Model.Trail.Id">Edit</a> |
    <a href="javascript:history.back()">Back to List</a>
</div>
