<!DOCTYPE html>
<html lang="bs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jahački klub Željezničar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Jahacki_klub_Zeljeznicar.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon-white.svg" media="(prefers-color-scheme: light)">
    <link rel="icon" href="~/favicon-black.svg" media="(prefers-color-scheme: dark)">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/images/logo.png" alt="Jahački klub Željezničar Logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AboutUs", "Home")">O nama</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Clan"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Dashboard")#treninzi">Treninzi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Clanarina")">Članarina</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")#trails">Trailovi</a>
                        </li>
                    </ul>

                    <div class="auth-buttons">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="btn btn-dark" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                            <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                                <button type="submit" class="btn btn-outline-secondary ms-2">Logout</button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-outline-secondary me-2" href="@Url.Action("Login", "Account")">Login</a>
                            <a class="btn btn-dark" href="@Url.Action("RegisterClan", "Account")">Prijavi se</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container_content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container text-center">
            &copy; 2025 - Jahački klub Željezničar - <a href="@Url.Action("Privacy", "Home")">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
