@model Jahacki_klub_Zeljeznicar.Models.Konj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Konj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a href="@Url.Action("Index", "Dashboard")">Back to List</a>
</div>
